{% extends 'base.html' %}

{% load markdownify %}

{% block title %}
    {{ brewlog.name }} |
{% endblock title %}

{% block content %}
    <main class="container brew-log-detail">
        <div class="brew-log-options-bar">
            <a href="{% url 'edit_brewlog' brewlog.id %}">Edit</a>
            <a href="{% url 'delete_brewlog' brewlog.id %}">Delete</a>
        </div>        
        <h1>{{ brewlog.name }}</h1>
        <p>{{ brewlog.description|markdownify }}</p>
        <h2>Batch Details</h2>
            <table class="brew-log-stats">
                <thead>
                    <tr>
                        <th>Batch Size</th>
                        <th>Style</th>
                        <th>Bitterness</th>
                        <th>Color</th>
                        <th>ABV</th>
                        <th>Brewing Date</th>
                        <th>Date of Secondary</th>
                        <th>Date of Bottling/Kegging</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ brewlog.batch_size }} gallons</td>
                        <td>{{ brewlog.style|title }}</td>
                        <td>{{ brewlog.bitterness }} IBU</td>
                        <td>{{brewlog.color }}</td>
                        <td>{{ brewlog.abv }}%</td>
                        <td>{{ brewlog.brewing_date }}</td>
                        {% if brewlog.secondary_date %}
                            <td>{{brewlog.secondary_date }}</td>
                        {% else %}
                            <td> </td>
                        {% endif %}
                        {% if brewlog.bottling_date %} 
                            <td>{{ brewlog.bottling_date }}</td>
                        {% else %}
                            <td> </td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        <h2>Brewing Notes</h2>
            <table class="brew-log-notes">
                <thead>
                    <tr>
                        <th>Brewing Notes</th>
                        <th>Hop Notes</th>
                        <th>Yeast Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% if brewlog.brewing_notes %}
                            <th>{{ brewlog.brewing_notes }}</th>
                        {% else %}
                            <th></th>
                        {% endif %}
                        {% if brewlog.hop_notes %}
                            <th>{{ brewlog.hop_notes }}</th>
                        {% else %}
                            <th></th>
                        {% endif %}
                        {% if brewlog.yeast_notes %}
                            <th>{{ brewlog.yeast_notes }}</th>
                        {% else %}
                            <th></th>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        <h2>Tasting Notes</h2>
            <table class="brew-log-taste-notes">
                <thead>
                    <tr>
                        <th>Appearance</th>
                        <th>Flavor</th>
                        <th>Aroma</th>
                        <th>Mouthfeel</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% if brewlog.appearance %}
                            <th>{{ brewlog.appearance }}</th>
                        {% else %}
                            <th></th>
                        {% endif %}
                        {% if brewlog.flavor %}
                            <th>{{ brewlog.flavor }}</th>
                        {% else %}
                            <th></th>
                        {% endif %}
                        {% if brewlog.aroma %}
                            <th>{{ brewlog.aroma }}</th>
                        {% else %}
                            <th></th>
                        {% endif %}
                        {% if brewlog.mouthfeel %}
                            <th>{{ brewlog.mouthfeel }}</th>
                        {% else %}
                            <th></th>
                        {% endif %}
            </table>
    </main>
{% endblock content %}