{% extends 'paginate.html' %}

{% block title %}
    My Brew Logs |
{% endblock %}

{% block content %}
    <main class="container">
        <h1 class="brew-log-title">My Brew Logs</h1>
        <div class="brew-log-options-bar">
            <a href="{% url 'create_brewlog' %}">Create a new Brew Log</a>
        </div>
        {% if brewlog_list %}
            <div class="brew-log-grid">
                {% for brewlog in brewlog_list %}
                    <div class="brew-log-card">
                        <h2 class="brew-log-card-title">
                            <a href="{% url 'show_brewlog' brewlog.pk %}">{{ brewlog.name }}</a>
                        </h2>
                        <p class="brew-log-card-info">
                            {{ brewlog.batch_size }} gallons - {{ brewlog.style|title }}
                            on {{ brewlog.brewing_date }}
                        </p>
                    </div>
                {% endfor %}
            </div> 
        {% else %} 
            <p>You do not have any brew logs</p>
        {% endif %} 
    </main>
{% endblock content %} 