{% extends 'base.html' %}

{% load markdownify %}

{% block title %}
    {{ recipe.name }} |
{% endblock title %}

{% block content %}
    <main class="container recipe-detail">
        <div class="recipe-options-bar">
            <a href="{% url 'edit_recipe' recipe.id %}">Edit</a>
            <a href="{% url 'delete_recipe' recipe.id %}">Delete</a>
        </div>        
        {% if recipe.image %}
            <img src="{{ recipe.image }}" class="pull-right">
        {% endif %}
        <h1>{{ recipe.name }}</h1>
        <p>{{ recipe.description|markdownify }}</p>
        <h2>Recipe Details</h2>
            <table>
                <thead>
                    <tr>
                        <th>Batch Size</th>
                        <th>Style</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ recipe.batch_size }} gallons</td>
                        <td>{{ recipe.style|title }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>Tags: {% for tag in recipe.tags.all %}{{ tag.name }} {% endfor %}</p>
    </main>
{% endblock content %}