{% extends 'paginate.html' %}

{% block title %}
    My Recipes |
{% endblock %}

{% block content %}
    <main class="container">
        <h1 class="recipe-title">My Recipes</h1>
        <div class="recipe-options-bar">
            <a href="{% url 'create_recipe' %}">Create a new recipe</a>
        </div>
        {% if recipe_list %}
            <div class="recipe-grid">
                {% for recipe in recipe_list %}
                    <div class="recipe-card">
                        <h2 class="recipe-card-title">
                            <a href="{% url 'show_recipe' recipe.pk %}">{{ recipe.name }}</a>
                        </h2>
                        <p class="recipe-card-info">{{ recipe.batch_size }} gallons - {{ recipe.style|title }}</p>
                    </div>
                {% endfor %}
            </div> 
        {% else %} 
            <p>You do not have any recipes</p>
        {% endif %} 
    </main>
{% endblock content %} 