{% extends 'base.html' %}

{% block title %}
    New Tag |
{% endblock %}

{% block content %}
    <main class="container tag-form">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }} 
            <div class="control">
                <button class="button">Create</button>
            </div>
        </form>
    </main>
{% endblock content %}