{% extends 'base.html' %}

{% load markdownify %}

{% block title %}
    tag:"{{ tag.name }}" |
{% endblock title %}

{% block content %}
    <main class="container tag-detail">
        <div class="tag-options-bar">
            <a href="{% url 'edit_tag' tag.id %}">Edit</a>
            <a href="{% url 'delete_tag' tag.id %}">Delete</a>
        </div>
        <h2>Recipes with "{{ tag.name }}"</h2>
        {% for recipe in tag.recipes.all %}
            <p>
                <a href="{% url 'show_recipe' recipe.pk %}">{{ recipe.name }}</a>
            </p>
        {% endfor %}
    </main>
{% endblock content %}