{% extends 'paginate.html' %}

{% block title %}
    Tags |
{% endblock %}

{% block content %}
    <main class="container">
        <h1 class="tag-title">Tags</h1>
        <div class="tag-options-bar">
            <a href="{% url 'create_tag' %}">Create a new tag</a>
        </div>
        <div class="tag-grid">
            {% for tag in tag_list %}
                <div class="recipe-card">
                    <h2 class="recipe-card-title">
                        <a href="{% url 'show_tag' tag.pk %}">{{ tag.name }}</a>
                    </h2>
                    {% for recipe in tag.recipes.all %}
                        <p>
                            <a href="{% url 'show_recipe' recipe.pk %}">{{ recipe.name }}</a>
                        </p>
                    {% endfor %}
                </div>
            {% empty %}
                <div>
                    <h1>No tags, yet</h1>
                    <p>
                    Would you like to
                    <a href="{% url 'create_tag' %}">create</a>
                    one?
                    </p>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}