@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, button, select, textarea, input {
  font-family: 'Roboto';
  font-size: 16px;
}

.container {
  position: relative;
  top: 64px;
}

.helptext {
    display: block;
    font-size: 80%;
}

input, textarea {
  border: 1px solid #FF7F3F;
  border-radius: 4px;
  padding: 1em 1.5em;
}

table {
  margin: auto;
}

td, th {
  padding: .25em .5em;
}

textarea {
  resize: none;
}

/* Forms */
form {
    max-width: 400px;
    margin: 0 auto;
}
  
.narrow-form {
    border: 1px solid grey;
    max-width: 400px;
    margin: auto;
    padding: 2em;
}

/* Buttons */
button.button {
  background-color: #FF7F3F;
  border: 2px solid transparent;
  border-radius: 4px;
  color: white;
  padding: 1em 1.5em;
  text-transform: uppercase;
}

button.button:hover {
  background-color: white;
  border-color: #FF7F3F;
  color: #FF7F3F;
}

button.button:active {
  background-color: lightblue;
}

/* Header */
header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  height: 64px;
  width: 100%;
  background-color: #ffffff;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 24px;
  flex-grow: 1;
}

.logo img {
  height: 42px;
}

header nav {
  padding-right: 16px;
}

nav span{
  display: inline-block;
  padding: 0px 8px;
}

span.title {
  font-weight: 600;
  font-size: 1.5rem;
  padding-right: 67%;
}

a,
a:visited {
  text-decoration: none;
  color: #EA5C2B;
}

a:hover {
  color: #FF7F3F;
}

/* Recipes */

.recipe-options-bar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center; 
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  padding: 2em;
}

.recipe-title {
  text-align: center;
}

.recipe-card-title {
  margin-bottom: 0;
}

.recipe-card-date {
  color: darkgray;
}

.recipe-form {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
}

.recipe-form p {
  display: grid;
  grid-template-columns: 8em 1fr;
  column-gap: 20px;
}

.recipe-form label {
  text-align: right;
}

.recipe-detail {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
}

.pull-right {
  float: right;
  margin: 1em;
}

.control {
  text-align: right;
}

footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  color: #208ACC;
}

/* Tags */

.tag-options-bar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center; 
}

.tag-title {
  text-align: center;
}

.tag-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  padding: 2em;
}

.tag-card-title {
  margin-bottom: 0;
}

.tag-card-date {
  color: darkgray;
}

.tag-detail {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
}

.tag-form {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
}

.tag-form p {
  display: grid;
  grid-template-columns: 8em 1fr;
  column-gap: 20px;
}

.tag-form label {
  text-align: right;
}

/* Brew Logs */
.brew-log-options-bar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center; 
}

.brew-log-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  padding: 2em;
}

.brew-log-title {
  text-align: center;
}

.brew-log-card-title {
  margin-bottom: 0;
}

.brew-log-card-date {
  color: darkgray;
}

.brew-log-form {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
}

.brew-log-form p {
  display: grid;
  grid-template-columns: 8em 1fr;
  column-gap: 20px;
}

.brew-log-form label {
  text-align: right;
}

.brew-log-detail {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
}

.pull-right {
  float: right;
  margin: 1em;
}

.control {
  text-align: right;
}

.brew-log-stats {
  width: 100%;
}

.brew-log-notes {
  width: 100%;
}

.brew-log-taste-notes {
  width: 100%;
}

/* Pagination */

.pagination a {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}