{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} {% endblock %}Brewr</title>
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
    </head>

    <body>
        <header>
            <div class="logo">
                <img src="{% static 'images/logo.png' %}">
                <span class="title">Brewr</span>
                <nav>
                    {% if user.is_authenticated %}
                        <span><a href="{% url 'home' %}">Home</a></span>
                        <span><a href="{% url 'list_tags' %}">Tags</a></span>
                        <span><a href="{% url 'list_recipes' %}">My recipes</a></span>
                        <span><a href="{% url 'list_brewlogs' %}">My brew logs</a></span>
                        <span><a href="{% url 'logout' %}">Logout</a></span>
                    {% else %}
                        <span><a href="{% url 'home' %}">Home</a></span>
                        <span><a href="{% url 'login' %}">Login</a></span>
                        <span><a href="{% url 'signup' %}">Signup</a></span>
                    {% endif %}
                </nav>
            </div>
            
        </header>
        {% block pagination %} 
        {% endblock pagination %} 
        {% block content %} 
        {% endblock content %} 
    </body>
</html>